<h3>Photo Gallery Index</h3>
<ul>
[% FOREACH k IN galleries.keys %]
    <li>[% k %]</li>
    <ul>
    [% FOREACH sub IN galleries.$k %]
        <li><a href="/gallery/[% sub %]">[% sub.replace(".*?\/","") %]</a></li>
    [% END %]
    </ul>
[% END %]
</ul>
