<h3>[% name %]</h3>

<hr><img src="[% fullpath %]"><hr>

[% IF comments %]
  Comments:<br>
  [% FOREACH c IN comments %]
    <p>[% c.timestamp %]<br>[% c.comment %]</p>
  [% END %]
[% END %]

<form method="post" name="">
  Insert new comment:<br>
  <textarea rows="2" cols="80" name="comment"></textarea><br>
  <input type="submit" value=" Comment! ">
</form>
